{% extends "BLAST_app/base.html" %}
{% block content %}

<div class="col-md-8 mb-5">
  <article class="media content-section">
    <div class="media-body">
      <h2 class="article-content">Blast home page</h2>
      <br>
      <form method="post">
        {% csrf_token %}
        <h3> Query Sequence </h3>
        {{ form.sequence }}
        <br>
        <br>
        <h3>Database fasta file address </h3>
        {{ form.data_base_path }}
        <br>
        <br>
        <button class="btn btn-primary btn-lg" type='submit'>Submit</button>
      </form>
    </div>
  </article>

  <br>
  <h2>What We Do</h2>
  <hr>
  <p>This blast app do ungapped alignment between single query sequence and fasta file provided by user</p>
</div>
<div class="col-md-4 mb-5">
  <h2>Default Parameters</h2>
  <hr>
  <address>
    <br>Kmer length : 11
    <br>Match/Mismatch score: 1/-1
    <br>HSSP score: 1
    <br>Score Threshold: 1
    <br>
    <br>Value for kartlin altschull statictics
    <br>lambda: 1.09861
    <br>K = 0.33333
    <br>
  </address>
</div>


{% endblock content %}